@model MLC05.Models.ClassAttendanceViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="col-md-12">
    <h4>Sign up for the following class?</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.DisplayFor(model => model.ClassTypeName)
        <h6>which starts on</h6>
        @Html.DisplayFor(model => model.ClassStartTime)
    </div>

    <div class="hidden form-group">
        @* Create hidden fields here *@
        <div class="col-md-10">
            @Html.HiddenFor(model => model.ScheduledClassId, Model.ScheduledClassId)
            @Html.ValidationMessageFor(model => model.ScheduledClassId)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sign up!" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
