@using MLC05.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Class Booking Service</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole(MLC05.Helpers.RoleNameHelper.AdminName))
                    {
                        <li>@Html.ActionLink("Class Types", "Index", "ScheduledClassTypes")</li>
                        <li>@Html.ActionLink("Classes", "Index", "ScheduledClass")</li>
                        <li>@Html.ActionLink("Edit imetable", "Index", "ClassTimetable")</li>
                    }
                    else if (User.IsInRole(MLC05.Helpers.RoleNameHelper.AttendeeName))
                    {
                        <li>@Html.ActionLink("Sign up for class", "Index", "ClassAttendance")</li>
                        <li>@Html.ActionLink("View timetable", "Index", "ClassTimetable")</li>
                        @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Classes<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @{
                                var menu = ScheduledClassTypeMenuViewModel.GetMenu();
                                if (menu != null && menu.Any())
                                {
                                    foreach (var item in menu)
                                    {
                                        <li>@Html.ActionLink($"{item.Name}", $"Details/{item.Id}", "ScheduledClassTypes")</li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mitchelstown Leisure Centre</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/datepicker")
    @Scripts.Render("~/bundles/datePicker")
    @RenderSection("scripts", required: false)
</body>
</html>
